#app{
    max-width: 23.5rem;
    margin: 0 auto;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
}

.van-tabbar--fixed {
    position: absolute;
    width: 100%;
}

.chattingRecords > div{
    height: calc(100% - 121px);
    margin-bottom: 100px;
}

